html{
    height: 100%;
    width: 100%;
}

body{    
    background-color: #2d5194 !important;
    height: 100%;
}


.navbar{
    background-color: #14233c; 
    color:aliceblue;
    height: 52px;
    
}

.logo{
   height: 50px; 
   width: 100%; 

}

.footer,push{  
    position: fixed;
background-color:#14233c;   
color: #717a89;
height: 30px;
   left: 0;
   bottom: 0;
   width: 100%;  
   text-align: center;
}



.footerText{
    text-align: center;
    bottom: auto;  
    margin:auto;
    font-size:20px
     
    
}

.homePage{
    margin-top: 20px;
}

/* .primaryButton {
    cursor: pointer !important;  
    background: #00cc66 !important;
    border-radius: 1rem !important;
    padding: 0.85rem 2rem !important;
    color: #ffffff !important;
    font-weight: 600 !important;
    font-size: 1.25rem !important;
    width: 80% !important;
    margin: 0 auto !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  } */



