.mt-10 {
    margin-top: 5rem;
}

body {
    height: 100vh;
}

#root {
    height: 100%;

}

.main {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: -5rem;
}

.registerText {
    color: #4582ec;
}

.uploadFormText {
    color: #4582ec;
}

.registerForm {
    margin-top: 10px;
}

.audioPlayer {
    margin-left: 20px;
    width: 94%;
}